<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>image</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>新鲜有机蔬菜西红柿</string>
		<key>price</key>
		<string>单价：10元</string>
		<key>describe</key>
		<string>专供超市，色泽很红，吃口很不错！富含茄红素！</string>
	</dict>
	<key>2</key>
	<dict>
		<key>image</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>有机绿色食品新鲜长茄子</string>
		<key>price</key>
		<string>有机绿色食品新鲜长茄子
单价：8元</string>
		<key>describe</key>
		<string>紫长茄皮紫色、有光泽、长条形、肉洁白、肉质柔嫩、种子少</string>
	</dict>
	<key>3</key>
	<dict>
		<key>image</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>无公害生菜意大利生菜</string>
		<key>price</key>
		<string>单价：3元</string>
		<key>describe</key>
		<string>本产品为严格依照安全食品产业标准生产的安全蔬菜，请放心食用！</string>
	</dict>
	<key>4</key>
	<dict>
		<key>image</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>有机蔬菜 红皮洋葱</string>
		<key>price</key>
		<string>单价：6元</string>
		<key>describe</key>
		<string>属百合科葱属二年生草本植物，以肥大的肉质鳞茎为产品。</string>
	</dict>
	<key>5</key>
	<dict>
		<key>image</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>苏州太湖东山乌紫杨梅</string>
		<key>price</key>
		<string>单价：20元</string>
		<key>describe</key>
		<string>杨梅有生津止渴、健脾开胃之功效，多食不仅无伤脾胃，且有解毒祛寒之功效。</string>
	</dict>
	<key>6</key>
	<dict>
		<key>image</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>苏州东山白玉白沙枇杷</string>
		<key>price</key>
		<string>单价：25元</string>
		<key>describe</key>
		<string>洞庭山是全国唯一的白玉枇杷产区，也是我国枇杷品种最进化的地区之一。</string>
	</dict>
	<key>7</key>
	<dict>
		<key>image</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>锡阳山水蜜桃4-5两</string>
		<key>price</key>
		<string>单价：18元</string>
		<key>describe</key>
		<string>无锡水蜜桃是江苏省著名特产。阳山镇是中国著名的“桃乡”。</string>
	</dict>
	<key>8</key>
	<dict>
		<key>image</key>
		<string>8.jpg</string>
		<key>name</key>
		<string>阳澄湖大闸蟹六月黄</string>
		<key>price</key>
		<string>单价：280元</string>
		<key>describe</key>
		<string>阳澄湖大闸蟹，又名金爪蟹，产于苏州阳澄湖。蟹身不沾泥，俗称清水大蟹，体大膘肥，青壳白肚，金爪黄毛。</string>
	</dict>
	<key>9</key>
	<dict>
		<key>image</key>
		<string>9.jpg</string>
		<key>name</key>
		<string>邓尉山散养新鲜土鸡蛋草鸡蛋</string>
		<key>price</key>
		<string>单价：12元</string>
		<key>describe</key>
		<string>正宗土鸡蛋蛋黄呈金黄、橘黄色，颜色有深有浅。最重要是蛋黄比例很大，这是最主要的区别之一。</string>
	</dict>
	<key>10</key>
	<dict>
		<key>image</key>
		<string>10.jpg</string>
		<key>name</key>
		<string>邓尉山散养新鲜土鸡</string>
		<key>price</key>
		<string>单价：98元</string>
		<key>describe</key>
		<string>土鸡都是我们农村人每一家都散养的 吃的是 稻子 麦子 青草 虫子等 对小孩 老人 孕妇是最佳的补品！</string>
	</dict>
	<key>11</key>
	<dict>
		<key>image</key>
		<string>11.jpg</string>
		<key>name</key>
		<string>【科尔沁】牛肉干</string>
		<key>price</key>
		<string>单价：110元</string>
		<key>describe</key>
		<string>锡林郭勒草原是欧亚大陆的一片净土，无可比拟的纯天然无污染的绿色草原畜牧业基地被联合国教科文组织纳入了国际生物圈。</string>
	</dict>
	<key>12</key>
	<dict>
		<key>image</key>
		<string>12.jpg</string>
		<key>name</key>
		<string>内蒙古锡盟羊排切块</string>
		<key>price</key>
		<string>单价：60元</string>
		<key>describe</key>
		<string>烤制、涮锅、白煮、煲汤、烟熏、黄焖、红烧、葱爆，大江南北对于这道美馔的做法五花八门，而齿颊之间的香腴丰盈是羊肉的不变特长。</string>
	</dict>
	<key>13</key>
	<dict>
		<key>image</key>
		<string>13.jpg</string>
		<key>name</key>
		<string>东北无根肉厚黑木耳干货</string>
		<key>price</key>
		<string>单价：150元</string>
		<key>describe</key>
		<string>木耳生长于栎、杨、榕、槐等120多种阔叶树的腐木上，单生或群生。</string>
	</dict>
	<key>14</key>
	<dict>
		<key>image</key>
		<string>14.jpg</string>
		<key>name</key>
		<string>新疆葡萄干</string>
		<key>price</key>
		<string>单价：10元</string>
		<key>describe</key>
		<string>可提高身体代谢机能、能快速地消除疲劳、消除多余的脂肪、使血流畅通、偏高的血压降低归于正常。</string>
	</dict>
	<key>15</key>
	<dict>
		<key>image</key>
		<string>15.jpg</string>
		<key>name</key>
		<string>正宗兰州特一级无硫精选百合干</string>
		<key>price</key>
		<string>单价：85元</string>
		<key>describe</key>
		<string>兰州百合是甘肃省的名优特产，色泽洁白如玉、肉质肥厚香甜。</string>
	</dict>
	<key>16</key>
	<dict>
		<key>image</key>
		<string>16.jpg</string>
		<key>name</key>
		<string>宁夏枸杞王极品中宁苟杞子</string>
		<key>price</key>
		<string>单价：60元</string>
		<key>describe</key>
		<string>主治滋补肝肾，益精明目。用于虚劳精亏，腰膝酸痛，眩晕耳鸣</string>
	</dict>
	<key>17</key>
	<dict>
		<key>image</key>
		<string>17.jpg</string>
		<key>name</key>
		<string>夏威夷果218gx2袋</string>
		<key>price</key>
		<string>单价：25元</string>
		<key>describe</key>
		<string>夏威夷果（澳洲坚果）果仁营养丰富（呈奶白色），其外果皮青绿色，内果皮坚硬，呈褐色。</string>
	</dict>
	<key>18</key>
	<dict>
		<key>image</key>
		<string>18.jpg</string>
		<key>name</key>
		<string>美国进口开心果 200g*2袋 </string>
		<key>price</key>
		<string>单价：44元</string>
		<key>describe</key>
		<string>开心果果仁是高营养的食品，每100果仁含维生素A20微克，叶酸59微克，含铁3毫克，含磷440毫克，含钾970毫克，含钠270毫克</string>
	</dict>
	<key>19</key>
	<dict>
		<key>image</key>
		<string>19.jpg</string>
		<key>name</key>
		<string>开口东北松子 200g*2袋</string>
		<key>price</key>
		<string>单价：45元</string>
		<key>describe</key>
		<string>东北松子具有纯天然的鲜香口感和浅褐色的外表，它除了富含脂肪、蛋白质、碳水化合物、维生素。</string>
	</dict>
	<key>20</key>
	<dict>
		<key>image</key>
		<string>20.jpg</string>
		<key>name</key>
		<string>山核桃仁小核桃仁190g </string>
		<key>price</key>
		<string>单价：36元</string>
		<key>describe</key>
		<string>核桃种仁味美可食，含蛋质7.23%，含油率48%～53%，多者达69%。</string>
	</dict>
	<key>21</key>
	<dict>
		<key>image</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>Anchor安佳1L 新西兰进口X6</string>
		<key>price</key>
		<string>单价：120元</string>
		<key>describe</key>
		<string>安佳牛奶来自新西兰天然牧场，空气清新，奶源纯净，经过超高温灭菌技术处理。</string>
	</dict>
	<key>22</key>
	<dict>
		<key>image</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>拉法叶 法国原装2009两瓶装 750ML*2</string>
		<key>price</key>
		<string>单价：780元</string>
		<key>describe</key>
		<string>拉法叶 法国原装2009两瓶装 750ML*2</string>
	</dict>
	<key>23</key>
	<dict>
		<key>image</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>Ferrero 榛果威化巧克力16粒装 意大利进口</string>
		<key>price</key>
		<string>单价：56元</string>
		<key>describe</key>
		<string>牛奶巧克力.榛子.白砂糖.植物油.小麦面粉. 乳清粉.低脂可可粉.大豆磷脂.脱脂乳粉.膨松剂。</string>
	</dict>
	<key>24</key>
	<dict>
		<key>image</key>
		<string>24.jpg</string>
		<key>name</key>
		<string>丹麦蓝罐 曲奇饼干 908g 丹麦进口</string>
		<key>price</key>
		<string>单价：135元</string>
		<key>describe</key>
		<string>小麦粉、牛油（黄油)(乳及乳制品）、白砂糖、椰蓉、加仑子（无核葡萄干）、鸡蛋粉（鸡蛋）。</string>
	</dict>
</dict>
</plist>
